@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('/resources/ConcertBackground1.jpg');
            background-blend-mode: soft-light;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0;
        }
    </style>
}

<div class="text-center" style="padding: 100px 0px 100px 0px">
    <h1 class="display-4 text-white" >Welcome to</h1>
    <div>
        <img src="~/resources/30DaysOfShredLogoTransparent.png" width="70%"/>
    </div>
    <br />
    <div style="padding:0px 125px 0px 125px">
        <h5 class="text-white">Join a community of guitarists dedicated to self-improvement. With unlimited practice exercises and encouragement from your peers, you will achieve your goals!</h5>
    </div>
</div>

<div class="container text-center" style="margin:0px 0px 100px 0px">
    <button type="button" class="btn-primary btn-block btn-lg" style="background-color:#c80f0f; border-color:darkred">
        <h2>Click Here to Get Started!</h2>
    </button>
</div>
