@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('/resources/ConcertBackground1.jpg');
            background-blend-mode: soft-light;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0;
        }
    </style>
}

<div class="text-center" style="padding: 100px 0px 100px 0px">
    <h1 class="display-4 text-white" >Welcome to</h1>
    <div>
        <img src="~/resources/30DaysOfShredLogoTransparent.png" width="70%"/>
    </div>
    <br />
    <br />
    <div style="padding:0px 125px 0px 125px">
        <h5 class="text-white">Join a community of guitarists dedicated to self-improvement. Gain access to unlimited practice exercises, tips for improving, and encouragement from your peers—all for free!</h5>
    </div>
</div>

<div class="container text-center" style="margin:0px 0px 100px 0px">
    <a asp-area="" asp-controller="Tabs" asp-action="Index">
        <button type="button" class="btn-shred btn-block btn-lg" asp-area="" asp-controller="Tabs" asp-action="Exercises">
            <h2>Click Here to Get Started!</h2>
        </button>
    </a>
</div>
