
@{
    ViewData["Title"] = "Tabs";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('/resources/GuitarCloseUp1.jpg');
            background-blend-mode: soft-light;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0;
        }
    </style>
}

<div class="text-center" style="padding:0px 0px 50px 0px">
    <h1 class="display-4 text-white">Browse for Exercises by Category</h1>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/ShredCard1.jpg');">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <h3 class="display-4" style="font-weight:bold; text-align:center">Shred Guitar</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/SweepCard1.jpg');">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <h3 class="display-4" style="font-weight:bold; text-align:center">Sweep Picking &amp; Arpeggios</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/RhythmCard1.jpg');">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <h3 class="display-4" style="font-weight:bold; text-align:center">Chords &amp; Rhythm</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/TappingCard1.jpg');">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <h3 class="display-4" style="font-weight:bold; text-align:center">Hammer-ons, Pull-offs, &amp; Tapping</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/RiffCard1.jpg');">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <h3 class="display-4" style="font-weight:bold; text-align:center">Riff Guitar</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/FingerPickingCard1.jpg');">
            <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                    <h3 class="display-4" style="font-weight:bold; text-align:center">Finger &amp; Hybrid Picking</h3>
                </div>
            </div>
        </div>
    </div>
</div>


