
@{
    ViewData["Title"] = "Tabs";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('/resources/GuitarCloseUp1.jpg');
            background-blend-mode: soft-light;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0;
        }
    </style>
}

<div class="text-center" style="padding:0px 0px 40px 0px">
    <h1 class="display-4 text-white">Browse for Exercises by Category</h1>
</div>


<div class="container" style="max-width:1000px">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a asp-controller="Tabs" asp-action="Category1">
                <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/ShredCard1.jpg');">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h3 class="text-sm-center" style="font-weight:bold; margin-top:60px">Shred Guitar</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a asp-controller="Tabs" asp-action="Category2">
                <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/SweepCard1.jpg');">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h3 class="text-sm-center" style="font-weight:bold; margin-top:45px">Sweeping &amp; Arpeggios</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a asp-controller="Tabs" asp-action="Category3">
                <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/RhythmCard1.jpg');">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h3 class="text-sm-center" style="font-weight:bold; margin-top:45px">Chords &amp; Rhythm</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a asp-controller="Tabs" asp-action="Category4">
                <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/TappingCard1.jpg');">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h3 class="text-sm-center" style="font-weight:bold; margin-top:30px">Hammer-ons, Pull-offs, &amp; Tapping</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a asp-controller="Tabs" asp-action="Category5">
                <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/RiffCard1.jpg');">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h3 class="text-sm-center" style="font-weight:bold; margin-top:60px">Riff Guitar</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <a asp-controller="Tabs" asp-action="Category6">
                <div class="card text-white card-has-bg click-col" style="background-image:url('/resources/FingerPickingCard1.jpg');">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <h3 class="text-sm-center" style="font-weight:bold; margin-top:30px">Finger &amp; Hybrid Picking</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

