@model IEnumerable<_30DaysOfShred.Models.GuitarTab>
@{
	ViewData["Title"] = "Search Results";
}

<h1 class="display-6 text-white">Search Results</h1>

<h2 class="text-white">Guitar Tabs</h2>  
<table class="table table-bordered text-white">  
    <thead>  
        <tr>  
            <th>@Html.DisplayNameFor(m => m.Title)</th>  
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var guitarTab in Model)  
        {  
            <tr>  
                <td class="display-6">@guitarTab.Title</td>  
            </tr>  
        }  
    </tbody>  
</table> 