@model IEnumerable<_30DaysOfShred.Models.GuitarTab>
@{
	ViewData["Title"] = "Search Results";
}

@section head{
    <style type="text/css">
        body {
            background-image: url('/resources/ConcertBackground2.jpg');
            background-blend-mode: soft-light;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0;
        }
    </style>
}

<h1 class="display-4 text-white">Search for Guitar Tabs by Keyword</h1> 
<div class="col-md-4">
    <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" placeholder="Search for Tabs"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn-shred btn-lg"/>
            </div>
        </form>
</div>
<table class="table custom-table text-white">  
    <thead class="table">  
        <tr>  
            <th>@Html.DisplayNameFor(m => m.Title)</th> 
            <th>@Html.DisplayNameFor(m => m.TabCategories)</th>
            <th>Download Link</th>
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var guitarTab in Model)  
        {  
            <tr>  
                <td class="text-white">@guitarTab.Title</td>  
                <td class="text-white">
                    @for (int i=0; i<guitarTab.TabCategories.Count; i++)
                    {
                        <div class="">
                            @guitarTab.TabCategories[i]
                        </div>
                    }
                </td>
                <td>
                    <button type="button" class="btn-shred btn btn-group-sm" asp-area="" asp-controller="Tabs" asp-action="Exercises">
                        <h2>Download Tab</h2>
                    </button>
                </td>
            </tr>  
        }  
    </tbody>  
</table> 